/* Variables */
@import './variables/variables';

/* Components */
@import './components/custom-title-colecao';
@import './components/minicart';

/* Shared */
@import './shared/header';
@import './shared/footer';

/* Pages */
@import './pages/home';
@import './pages/produto';
@import './pages/vitrines';
@import './pages/departamento';


/* Institucionals */
@import './pages/quem-somos';
@import './pages/nossas-lojas';
@import './pages/institucional';

body {
    overflow-x: hidden;
}