/* Variables */
@import './variables/variables';

/* Components */
@import './components/custom-title-colecao';

/* Shared */
@import './shared/header';
@import './shared/footer';

/* Pages */
@import './pages/home';

/* Institucionals */
@import './pages/quem-somos';
@import './pages/nossas-lojas';
@import './pages/institucional';