.footer {
    border-top: 10px solid $color-secondary;
    border-bottom: none;
    background-color: $color-light-grey;
    padding: 15px 0 30px;
    border-bottom: 10px solid #dadada;
        b {
            color: $color-secondary;
            font-family: Verdana;
            font-size: 18px;
            font-weight: 700;
            margin-left: 0;
            padding-left: 0;
        
            &:before {
                content: "";
                font-size: 17px;
                letter-spacing: -7px;
                padding-right: 10px;
                background-image: url(/arquivos/list.png);
                background-repeat: no-repeat;
                padding-left: 10px;
            }
        } 
            .col-inst-duvidas{
                li{
                list-style: disc;}
                @media(max-width: 798px){
                    text-align: center;
                }
            }
                .apps {
                    .col-social{
                        margin: 15px;
                        margin-top: 0;
                        width: 170px;
                        @media(max-width: 768px){
                            margin: 0;
                        }
                            a{
                                width: unset;
                                height: max-content;
                            }
                            @media(max-width: 992px){
                                text-align: -webkit-center;
                                justify-content: center;
                            }
                        
                    }
                    @media(max-width: 992px){
                        text-align: -webkit-center;
                        justify-content: center;
                    }
                   
                    .apps div{
                            padding-left: 40px;
                            @media(max-width: 768px){
                                padding-left: 55px;
                            }
                        }
                } 
                   .col-televendas{
                        .televendas {
                            background-color: $color-secondary;
                            border-radius: 10px;
                            text-align: center;
                            color: $color-light;
                            font-family: Arial;
                                h3{
                                    font-weight: bold;
                                }
                                    .televendas-inside {
                                        contain: content;
                                        span{
                                            color: $color-light;
                                            font-size: 23px;
                                        } 
                                            a{
                                                font-weight: 700;
                                                color: $color-light;
                                                font-size: 14px;
                                                text-decoration: underline;
                                            }
                                    }                              
                        }
                    }                  
                        .col-lojas{
                            li{
                              line-height: 2;
                              list-style: disc;
                              color: $color-secondary;
                            }
                                strong{
                                  color: $color-secondary;
                                }
                        }

                                                               

}

.copy-right{
    @media(max-width: 992px){
        text-align: center;
    }
    p{
        color: $color-dark;
        font-size: 12px;
        font-weight: 200;
        line-height: 20px;
        font-family: arial;
    }
        &strong{
            font-weight: bold;
        }
}

