.footer {
    border-top: 10px solid #0074bd;
    border-bottom: none;
    background-color: #f7f7f7;
    padding: 15px 0 30px;
    border-bottom: 10px solid #dadada;
        b {
            color: #0074bd;
            font-family: Verdana;
            font-size: 18px;
            font-weight: 700;
            margin-left: 0;
            padding-left: 0;
        
            &:before {
                content: "";
                font-size: 17px;
                letter-spacing: -7px;
                padding-right: 10px;
                background-image: url(/arquivos/list.png);
            }
        }
         
                .apps {
                    display: flex;
                    flex-flow: wrap;
                    @media(max-width: 992px){
                        text-align: -webkit-center;
                        justify-content: center;
                    }
                }
                    .apps div{
                        padding-left: 40px;
                        @media(max-width: 768px){
                            padding-left: 55px;
                        }
                    }
                    .col-inst-duvidas{
                        li{
                        list-style: disc;}
                        @media(max-width: 798px){
                            text-align: center;
                        }
                        }
                    
                        .televendas {
                            background-color: #0074bd;
                            height: 120px;
                            border-radius: 10px;
                            text-align: center;
                            color: white;
                            font-family: Arial;
                                h3{
                                    font-weight: bold;
                                }

                                        .televendas-inside {
                                                contain: content;
                                            }
                                                .televendas-inside span{
                                                    color: white;
                                                    font-size: 23px;
                                                }

                                                        .televendas-inside a{
                                                            font-weight: 700;
                                                            color: white;
                                                            font-size: 14px;
                                                            text-decoration: underline;
                                                        }
                                                    }
                                                            .col-social ul{
                                                                display: flex;
                                                            }
                                                                .col-social a{
                                                                    display: unset;
                                                                }
                                                                .col-lojas{
                                                                
                                                                li{
                                                                    line-height: 2;
                                                                    list-style: disc;
                                                                    color: #0074bd;
                                                                }

                                                                    strong{
                                                                        color: #0074bd;
                                                                    }
                                                                }


}

.copy-right{
    @media(max-width: 992px){
        text-align: center;
    }
    p{
        color: black;
        font-size: 12px;
        font-weight: 200;
        line-height: 20px;
        font-family: arial;
    }
        &strong{
            font-weight: bold;
        }
}

