

.header{
    .topdiv{
        height: 5px;
        width: 100%;
        background-color: orangered;
    }
            .sing-in .btn-group a{
                padding: 0;
                border: 0;
            }
                fieldset select#ftDeptae72997fde314d4e83c7c3caef4563b7{
                    display: unset !important;
                }
}

nav#top-menu{

    background-color: #0074bd;

        h3 a{
            color: white;
        }
}