#departament-page{

    .sidebar{
        width: 16%;
        .menu-departamento{
            display: block !important;
            @media(max-width: 992px){
                display: none;
            }
        }
    }


}

