#home-content{

        #Colecao1 h3 {
            color: #535353;
            font-family: Verdana;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            position: relative;
        }
            
            #Colecao1 h3:after {
                    content: "DESTAQUES";
                    display: block;
                    background-color: rgb(255, 255, 255);
                    position: relative;
                    width: 20%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                    #Colecao1 > h3:before {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        top: 11px;
                        background-color: #ff700f;
                    }
                        #Colecao2 > h3:after {
                            content: 'Lançamentos';
                            display: block;
                            background-color: #fff;
                            position: relative;
                            width: 20%;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                            #Colecao2 > h3:before {
                                content: '';
                                display: block;
                                width: 100%;
                                height: 1px;
                                position: absolute;
                                top: 11px;
                                background-color: #ff700f;
                            }
                                #Colecao2 h3 {
                                    color: #535353;
                                    font-family: Verdana;
                                    font-size: 20px;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    text-align: center;
                                    position: relative;
                                }
                                .footer-newsform{ 
                                    
                                        text-align: center;
                                        margin: 60px auto;
                                    
                                    .news-titulo {
                                        height: 20px;
                                        position: relative;
                                        }
                                            .news-titulo span {
                                              color: #535353;
                                               font-family: Verdana;
                                               font-size: 20px;
                                               font-weight: 700;
                                               text-transform: uppercase;
                                                position: absolute;
                                                z-index: 1;
                                                background-color: #fff;
                                                width: 20%;
                                                display: block;
                                                left: 50%;
                                                transform: translateX(-50%);
                                                text-align: center;
                                                }
                                                    .news-titulo:after {
                                                    content: '';
                                                    display: block;
                                                    width: 100%;
                                                    height: 2px;
                                                    background-color: #ff700f;
                                                    position: absolute;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    }
                                                        #newsletterForm {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            margin-top: 30px;
                                                        
                                                            fieldset {
                                                                display: flex;
                                                                flex-wrap: wrap;
                                                                justify-content: space-between;
                                                                flex-flow: row;
                                                            }
                                                                fieldset p {
                                                                    font-weight: bold;
                                                                }
                                                                fieldset > div {
                                                                    display: flex;
                                                                    justify-content: space-between;
                                                                }
                                                                fieldset > div input {
                                                                    height: 29px;
                                                                    border: 1px solid #d9d9d9;
                                                                    border-radius: 0;
                                                                    color: #d9d9d9;
                                                                    font-family: Verdana;
                                                                    font-size: 12px;
                                                                    font-weight: 400;
                                                                    padding: 0 10px;
                                                                }
                                                                fieldset > div input#newsletterButtonOK {
                                                                    text-transform: uppercase;
                                                                    border-radius: 9px;
                                                                    background-color: #ce7d2f;
                                                                    color: #ffffff;
                                                                    font-family: Verdana;
                                                                    font-size: 14px;
                                                                }

                                                        }
                                }
}

    

        





        

        
    
