#institucional{
    font-family: $font-primary;
    h2{
        border-bottom: 3px solid #ed830c;
        margin-bottom: 20px;
        padding: 5px;
    }
    p {
        line-height: 1.8;
    }
    .box {
        li {
            line-height: 1.8;
        }
    }
    footer {
        margin-top: none !important;
    }
}